.footer-area {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 72px;
}

.footer-area .footer-sep {
    width: 100%;
    height: 5px;
    background-color: #303030;
    border-radius: 4px;
    display: inline-block;
    margin-top: 72px;
}

.footer-area .footer-wrapper {
    padding: 32px 16px;
    -khtml-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.footer-area .footer-wrapper .footer-content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.04em;
    color: #D0D0D0;
}

.footer-area .footer-wrapper .footer-content.footer-left {
    text-align: left;
}

.footer-area .footer-wrapper .footer-content.footer-left .footer-logo {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    margin-bottom: 24px;
}

.footer-area .footer-wrapper .footer-content.footer-left .footer-logo img {
    height: 50px;
    width: auto;
    margin-left: auto;
}

.socmed-icons a {
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    margin-right: 12px;
    color: #D0D0D0;
}

.footer-area .footer-wrapper .footer-content.footer-left .fb:hover {
    color: #3b5998;
}

.footer-area .footer-wrapper .footer-content.footer-left .ig:hover {
    color: #bc2a8d;
}

.footer-area .footer-wrapper .footer-content.footer-left .tw:hover {
    color: #00acee;
}

.footer-area .footer-wrapper .footer-content.footer-left .sn:hover {
    color: #fffc00;
}

.footer-area .footer-wrapper .footer-content.footer-left .yt:hover {
    color: #ff0000;
}

.footer-area .footer-wrapper .footer-content.footer-left .st:hover {
    color: #2a475e;
}

.footer-area .footer-wrapper .footer-content.footer-right {
    text-align: right;
}

.footer-area .footer-wrapper .footer-content.footer-right div {
    margin-top: 33px;
    margin-bottom: 30px;
}

.footer-area .footer-wrapper .footer-content.footer-right div span {
    margin-left: 4px;
    cursor: pointer;
}

.footer-area .footer-wrapper .footer-content.footer-right div span:hover {
    color: white;
}

.footer-area .footer-wrapper .footer-content.footer-right .creator-credit {
    font-size: 14px;
}

.footer-area .footer-wrapper .footer-content.footer-right .creator-credit:hover {
    color: white;
}

.footer-area .footer-wrapper .footer-content .socmed-icons {
    font-family: "FontAwesome Brands";
    margin-top: 0px;
}

.disclaimer {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 30px;
    background-color: black;
    line-height: 30px;
    color: #878686;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}