* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background: url(../assets/Bgblck.jpeg);
    background-size: cover;
}

h4 {
    padding-top: 150px;
    padding-left: 50px;
    letter-spacing: 5px;
    font-family: 'Cinzel', cursive;
    color: white;
    font-size: 90px;
}

.slider {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 500%;
    height: inherit;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    position: relative;
    width: 20%;
    transition: 1.5s ease-in-out;
}

.slide img {
    padding: 5%;
    padding-top: 0%;
    width: 100%;
    height: inherit;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -10%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 5%;
}

.manual-btn:hover {
    background: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

/* NEWS */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(63, 63, 63, 0.75);
    transition: 0.5s;
    box-shadow: 20px 20px 1em;
    border-radius: 15px;
}

.container .card img {
    position: absolute;
    bottom: 0;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container .card:hover img {
    left: 73%;
    height: 500px;
}

.container .card .isi {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container h2 {
    font-family: 'Cinzel', sans-serif;
}

.container p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 96%;
    line-height: 20px;
}

.container .card:hover .isi {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.container .card .isi h2 {
    color: white;
    text-transform: uppercase;
    font-size: 150%;
    line-height: 1em;
}

.container .card .isi p {
    color: #d4d4d4;
}

#contain2 {
    padding-top: 110px;
}

#contain3 {
    padding-top: 110px;
}

#news {
    padding-top: 50px;
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container .card {
        width: auto;
        max-width: 420px;
        align-items: flex-start;
        margin: 40px 20px;
    }

    .container .card:hover {
        height: 620px;
    }

    .container .card:hover img {
        left: 50%;
        height: 350px;
    }

    .container .card .isi {
        width: 100%;
        left: 0;
        padding: 40px;
    }

    h4 {
        padding-top: 80px;
        padding-left: 20px;
        font-size: 35px;
        letter-spacing: 0px;
    }

    .manual-btn {
        padding: 3px;
    }

    #contain2 {
        padding-top: 50px;
    }

    #contain3 {
        padding-top: 50px;
    }
}